@use './app/styles/colors';
@use './app/styles/overrides';
@use './app/styles/helpers';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: white;
}
