
<p class="image-source">Images provided by <a href="https://www.vecteezy.com/">Vecteezy</a></p>
<div class="image-group simple-center">
    <img class="first" src="c++.png" alt="c++ logo" />
    <img class="second" src="img5.png" alt="image of laptop" />
    <img class="third" src="code.png" alt="image of code" />
</div>

<div class="container">
    <h1 class="large-title title-adjustment">Welcome</h1>
    <mat-card class="extra-padding">
        <mat-card-header class="paddingX">
            <h2>Exciting News!</h2>
        </mat-card-header>
        <mat-divider />
        <mat-card-content class="margin-top padding">
            You have caught my website at an exciting time! As it's still in the early stages, things may not work
            quite as expected. But do not fear! Updates will be coming almost daily and it will be complete in no 
            time! Enjoy! In the future, more information will be displayed about the website bellow. Feel free to 
            check out the project on Git Hub with the link bellow.
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button (click)="repositoryLink()">Repository</button>
        </mat-card-actions>
    </mat-card>
</div>