@use '../../styles/breakpoints';
@use '../../styles/helpers';
@use '../../styles/colors';

.image-source {
    text-align: center;
    color: colors.$dark-text-accent;
}

a {
    color: colors.$dark-text-accent;
}

.image-group {
    margin-top: 30px;

    @media (max-width: breakpoints.$mobile-size) {
        margin-top: -30px;
    }
}


img {
    height: 400px;
    width: 33%;
    object-fit: contain;
    position: relative;

    @media (max-width: breakpoints.$image-resize) {
        width: 100%;
    }
}

.first {
    animation: fade-in-bottom;
    animation-duration: 1s;
    animation-fill-mode: both;

    @media (max-width: breakpoints.$image-resize) {
        display: none;
    }
}

.second {
    animation: fade-in-top;
    animation-delay: 0.25s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.third {
    animation: fade-in-bottom;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-fill-mode: both;

    @media (max-width: breakpoints.$image-resize) {
        display: none;
    }
}

@keyframes fade-in-bottom {
    0% { opacity: 0; top: 50px; }
    100% { opacity: 1; top: 0px; }
}

@keyframes fade-in-top {
    0% { opacity: 0; top: -50px; }
    100% { opacity: 1; top: 0px; }
}