
<p class="image-source">Images provided by <a href="https://www.vecteezy.com/">Vecteezy</a></p>
<div class="image-group simple-center">
    <img loading="lazy" class="first" src="c++.png" alt="c++ logo" />
    <img loading="lazy" class="second" src="img5.png" alt="image of laptop" />
    <img loading="lazy" class="third" src="code.png" alt="image of code" />
</div>

<div class="container">
    <h1 class="large-title title-adjustment">Welcome</h1>

    <app-site-card class="darker-text" [title]="landingData[0].title">
        <div class="spaced-content" *ngFor="let content of landingData[0].contents">{{content}}</div>
    </app-site-card>
</div>


<div class="transition-top"></div>
<div class="black">
    <div class="container">
        <app-site-card [title]="landingData[1].title" background="transparent">
            {{landingData[1].contents[0]}}
        </app-site-card>
    </div>
</div>
<div class="transition-bottom"></div>

<div class="container">
    <app-site-card class="darker-text" [title]="landingData[2].title">
        <div class="spaced-content" *ngFor="let content of landingData[2].contents">{{content}}</div>
    </app-site-card>
</div>