@use '../../styles/breakpoints';
@use '../../styles/helpers';

img {
    height: 400px;
    width: 33%;
    object-fit: contain;

    @media (max-width: breakpoints.$image-resize) {
        width: 100%;
    }
}

.first {
    position: relative;
    animation: fade-in-bottom;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.second {
    position: relative;
    animation: fade-in-top;
    animation-duration: 1s;
    animation-delay: 0.25s;
    animation-fill-mode: both;

    @media (max-width: breakpoints.$image-resize) {
        display: none;
    }
}

.third {
    position: relative;
    animation: fade-in-bottom;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;

    @media (max-width: breakpoints.$image-resize) {
        display: none;
    }
}

.image-group {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    @media (max-width: breakpoints.$mobile-size) {
        margin-top: 0;
    }
}

@keyframes fade-in-bottom {
    0% { opacity: 0; top: 50px; }
    100% { opacity: 1; top: 0px; }
}

@keyframes fade-in-top {
    0% { opacity: 0; top: -50px; }
    100% { opacity: 1; top: 0px; }
}

h1 {
    font-size: 5rem;
    z-index: 5;
    margin-top: -25px;
    margin-bottom: 25px;
    letter-spacing: .35rem;
    text-decoration: underline;
    text-decoration-thickness: 0.25rem;
    text-underline-offset: 0.5rem;
    text-align: center;
}

h2 {
    margin-top: 8px;
}