
<div class="shadow"></div>
<img class="top-image" src="placeholder.webp" alt="placeholder">

<div class="title-container container">
    <img src="placeholder.webp" alt="placeholder">
    <h1 class="large-title">Why Pick Me?</h1>
</div>

<div class="container darker-text">
    <h2 class="medium-title">Overview</h2>

    <app-site-card *ngFor="let item of resumeOverview" [title]="item.title">{{item.content}}</app-site-card>
    <app-site-card title="Skills">
        <div class="list-view">
            <app-site-list class="list" *ngFor="let list of resumeSkills" [title]="list.title" [items]="list.items"></app-site-list>
        </div>
    </app-site-card>

</div>

<div class="temp">
    <mat-icon fontIcon="construction"/>
    <p>Resume Page Under Construction</p>
    <mat-icon fontIcon="construction"/>
</div>
