
<div class="shadow"></div>
<img class="top-image" src="placeholder.webp" alt="placeholder">

<div class="title-container container">
    <img src="placeholder.webp" alt="placeholder">
    <h1 class="large-title">Why Pick Me?</h1>
</div>

<div class="container darker-text">
    <h2 class="medium-title">Overview</h2>

    <mat-card class="extra-padding">
        <mat-card-title>
            Summary
        </mat-card-title>
        <mat-divider />
        <mat-card-content class="margin-top">
            Content Here
        </mat-card-content>
    </mat-card>

    <mat-card class="extra-padding margin-top">
        <mat-card-title>
            Work Experience
        </mat-card-title>
        <mat-divider />
        <mat-card-content class="margin-top">
            Content Here
        </mat-card-content>
    </mat-card>

    <mat-card class="extra-padding margin-top">
        <mat-card-title>
            About Me
        </mat-card-title>
        <mat-divider />
        <mat-card-content class="margin-top">
            Content Here
        </mat-card-content>
    </mat-card>

    <mat-card class="extra-padding  margin-top">
        <mat-card-title>
            Skills
        </mat-card-title>
        <mat-divider />
        <mat-card-content class="margin-top center-between">
            Content Here
        </mat-card-content>
    </mat-card>
</div>

<div class="temp">
    <mat-icon fontIcon="construction"/>
    <p>Resume Page Under Construction</p>
    <mat-icon fontIcon="construction"/>
</div>
