
<div class="shadow"></div>
<img class="top-image" src="placeholder.webp" alt="placeholder" loading="lazy">

<div class="title-container container">
    <img src="placeholder.webp" alt="placeholder" loading="lazy">
    <h1 class="large-title">Why Pick Me?</h1>
</div>

<div class="container darker-text extra-margin-top">
    <app-site-card [title]="summary.title">{{summary.content}}</app-site-card>
    <app-site-card title="Experience">
        <div class="list-view">
            <app-site-list class="experience-list" *ngFor="let item of experience" [title]="item.title" [subtitle]="item.subtitle!" [items]="item.items"/>
        </div>
    </app-site-card>
    <app-site-card [title]="aboutMe.title">{{aboutMe.content}}</app-site-card>
    <app-site-card title="Skills">
        <div class="list-view">
            <app-site-list class="skill-list" *ngFor="let list of skills" [title]="list.title" [items]="list.items"></app-site-list>
        </div>
    </app-site-card>

</div>

<div class="temp">
    <mat-icon fontIcon="construction"/>
    <p>Resume Page Under Construction</p>
    <mat-icon fontIcon="construction"/>
</div>
