
<mat-tab-group>
  <mat-tab label="Project 1"> 
    <div class="container extra-margin-top">
        <ng-content matTabContent>
            Content
        </ng-content>
    </div>
  </mat-tab>
  <mat-tab label="Project 2">
    <div class="container extra-margin-top">
        <ng-content matTabContent>
            Content
        </ng-content>
    </div>
  </mat-tab>
  <mat-tab label="Project 3"> 
    <div class="container extra-margin-top">
        <ng-content matTabContent>
            Content
        </ng-content>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="container extra-margin-top mobile-project-view">
    Content
</div>

<div class="temp">
    <mat-icon fontIcon="construction"/>
    <p>Projects Page Under Construction</p>
    <mat-icon fontIcon="construction"/>
</div>