@use '../../styles/breakpoints';
@use '../../styles/helpers';

.example-spacer {
    flex: 1 1 auto;
}

.nav-buttons {
    @media (max-width: breakpoints.$mobile-size) {
        display: none;
    }
}

.menu {
    display: none;

    @media (max-width: breakpoints.$mobile-size) {
        display: block;
    }
}