@use '../../styles/colors';
@use '../../styles/breakpoints';
@use '../../styles/helpers';

img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.contact-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-card {
    width: 30%;

    @media (max-width: breakpoints.$mobile-size-small) {
        width: 100%;
    }
}

.temp {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 24px;
    color: colors.$dark-text-accent;
    transform: scale(1.75);
    max-width: 57%;

    @media (max-width: 500px) {
        transform: scale(1.25);
        max-width: 80%;
    }
}