@use '../../styles/colors';
@use '../../styles/breakpoints';
@use '../../styles/helpers';

.contact-title {
    height: 400px;
    background-image: linear-gradient(black, black, colors.$neutral-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-thickness: 4px;
        margin-top: -80px;
    }

    p {
        margin-top: 0;
    }
}

.negative-margin {
    margin-top: -80px;
}

img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.contact-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-card {
    width: 30%;

    @media (max-width: breakpoints.$mobile-size-small) {
        width: 100%;
    }
}

.temp {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 24px;
    color: colors.$dark-text-accent;
    transform: scale(1.75);
    max-width: 57%;

    @media (max-width: 500px) {
        transform: scale(1.25);
        max-width: 80%;
    }
}