
<div class="contact-title">
    <h1 class="large-title">Contact Me Anytime</h1>
    <p>AND GET A FAST RESPONSE</p>
</div>

<div class="container negative-margin">
    <div class="contact-cards">
        <app-site-card title="Email" class="contact-card margin-top" hasActions="true" background="secondary">
            <img mat-card-image src="email.png"/>

            {{email}}

            <mat-card-actions>
                <button mat-flat-button (click)="copyEmail()">Copy</button>
            </mat-card-actions>
        </app-site-card>

        <app-site-card title="Github" class="contact-card margin-top" hasActions="true" background="secondary">
            <img mat-card-image src="github.png"/>

            {{github}}

            <mat-card-actions>
                <button mat-flat-button (click)="goToGithub()">Go To</button>
            </mat-card-actions>
        </app-site-card>

        <app-site-card title="LinkedIn" class="contact-card margin-top" hasActions="true" background="secondary">
            <img mat-card-image src="linkedin.png"/>
            {{linkedIn}}

            <mat-card-actions>
                <button mat-flat-button (click)="goToLinkedIn()">Go To</button>
            </mat-card-actions>
        </app-site-card>
    </div>

    <app-contact-form />
</div>

<div class="temp">
    <mat-icon fontIcon="construction"/>
    <p>Contact Page Under Construction, Form Not Yet Working</p>
    <mat-icon fontIcon="construction"/>
</div>
