@use '../../styles/helpers';
@use '../../styles/colors';

mat-card {
    height: 100%;
}

.primary {
    background-color: colors.$primary-dark-text;
}

.secondary {
    background-color: colors.$secondary-dark-text;
}

.tertiary {
    background-color: colors.$tertiary-dark-text;
}

.extra-margin {
    margin-bottom: 68px;
}

.glue-actions {
    @extend .extra-padding;
    position: absolute;
    bottom: 0;
    right: 0;
}
