<div class="container darker-text">
    <div class="project-container">
        <img [src]="projectData().image" alt="image"/>

        <div class="project-summary">
            <app-site-card [title]="projectData().summary.title" horizontal="true" maxHeight="true" hasActions="true" gluedActions="true">
                {{projectData().summary.content}}

                <mat-card-actions align="end">
                    <button mat-flat-button [disabled]="this.dissabledButton()" (click)="goToButton()">Go To Project</button>
                </mat-card-actions>
            </app-site-card>
        </div>
    </div>

    <div class="project-detail">
        <app-site-card title="Skills Used" class="detail-one" maxHeight="true">
            <app-site-list [items]="projectData().skills"/>
        </app-site-card>

        <app-site-card title="Challenges" class="detail-two" maxHeight="true">
            {{projectData().challenges}}
        </app-site-card>
    </div>
</div>
