

$primary: #1a97bd;
$primary-light-text: #77e1fc;
$primary-dark-text: #0c5166;

$secondary: #593ae0;
$secondary-light-text: #c9bdff;
$secondary-dark-text: #13064f;

$tertiary: #d99827;
$tertiary-light-text: #fcc462;
$tertiary-dark-text: #ad6f02;


$neutral-light: #d9dbdb;
$neutral-dark: #303030;
$neutral-dark-accent: #161c21;