.container {
    margin: auto;
    max-width: 1500px;
    width: 85%;
}

.extra-padding {
    padding: 16px;
}

.mt {
    margin-top: 8px;
}

.mb {
    margin-bottom: 8px;
}

.mx {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mr {
    margin-right: 8px;
}

.padding {
    padding: 8px;
}

.test {
    border: solid red;
}