@use '@angular/material' as mat;
@use './colors.scss';

body {
    background-color: colors.$neutral-dark;
    color: white;
}

:root {

    @include mat.toolbar-overrides((
        container-background-color: colors.$primary,
        container-text-color: colors.$primary-light-text,
    ));

    @include mat.card-overrides((
        elevated-container-color: colors.$neutral-dark-accent,
    ));

    @include mat.button-overrides((
        filled-container-color: colors.$secondary,
        filled-label-text-color: colors.$secondary-light-text,
    ));

    @include mat.menu-overrides((
        container-color: colors.$neutral-dark-accent,
        item-label-text-color: white,
    ));
}